// reset
@import "variables";
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #999;
}

//colors


@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

// font size


@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// flex

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-warp {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}



@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}

//spacing

@each $typeKey,$type in $spacing-types {


  // m-1 p-1 ...
  @each $sizeKey,$size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey}{
      #{$type}: $size * $spacing-base-size;
    }

  }

  //mx-1 my-1 ...
  @each $sizeKey,$size in $spacing-sizes {

    .#{$typeKey}x-#{$sizeKey}{
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }

    .#{$typeKey}y-#{$sizeKey}{
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }


  // mt-1 ...
  @each $directionKey,$direction in $spacing-directions {
    @each $sizeKey,$size in $spacing-sizes {
      
      .#{$typeKey}#{$directionKey}-#{$sizeKey}{
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }

    .#{$typeKey} {
      #{$type}: 0;
    }
  
  }
  
//button
.btn {
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes, 'sm') * $base-font-size;
  padding: 0.3rem 0.6rem;
}


//nav
.nav {
  display: flex;

  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 0.2rem;
    &.active {
      color: map-get($colors,'primary');
      border-bottom: 3px solid map-get($colors,'primary');
    }

  }
}

.nav-inverse {
  .nav-item {
    color: map-get($colors,'white');
    &.active {
      color: map-get($colors,'white');
      border-bottom: 3px solid map-get($colors,'white');
    }
  }
}

//width height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

// text overflow

.line-1 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}






//sprite
.sprite {
  background: url("../assets/image/index.png") no-repeat 0 0;
  background-size: 28.8462rem ;
  display: inline-block;
  &.sprite-news {
    background-position: 63.546% 15.517%;
    width: 23px;
    height: 20px;
  }
  &.sprite-story {
    background-position: 90.483% 15.614%;
    width: 23px;
    height: 20px;
  }
  &.sprite-store {
    background-position: 36.746% 0.924%;
    width: 19px;
    height: 22px;
  }
  &.sprite-experience {
    background-position: 10.408% 15.517%;
    width: 20px;
    height: 20px;
  }
  &.sprite-noob {
    background-position: 89.733% 1.266%;;
    width: 20px;
    height: 21px;
  }
  &.sprite-glory {
    background-position: 36.467% 15.287%;
    width: 24px;
    height: 20px;
  }
  &.sprite-community {
    background-position: 9.302% 0.813%;
    width: 31px;
    height: 25px;
  }
  &.sprite-campsite {
    background-position: 63.3% 0.927%;
    width: 24px;
    height: 24px;
  }

  &.sprite-arrow-up {
    background-position: 38.577% 52.076%;
    width: 10px;
    height: 10px;
  }
}